html
{ height: 100%;}

*
{ margin: 0;
    padding: 0;}

body
{ font: normal .80em 'trebuchet ms', arial, sans-serif;
    background: #F0EFE2 url(download.jpg) repeat;
    color: #000;}

h1, h2
{ font: normal 175% 'century gothic', arial, sans-serif;
    color: #000;
    margin: 0 0 15px 0;
    padding: 15px 0 5px 0;}

h2
{ font: normal 175% 'century gothic', arial, sans-serif;}

#site_content
{ width: 854px;
    overflow: hidden;
    margin: 0 auto 0 auto;
    padding: 0 24px 20px 20px;
    background: #F0EFE2 url(white.jpg) repeat;}

#content
{ text-align: left;
    float: none;
    width: 800px;
    padding: 0;}
